h1 {
    color: #ce3000;
    margin-left: 10px;
    text-align: center;
}
h3 {
    margin-left: 10px;
}
#variable p {
    padding: 5px 10px;
    text-align: right;
}
#containers .container,
#variable .expense {
    padding: 10px;
}
input[type=text],
input[type=number] {
}
#containers input[name="txtName"],
.expense input[name="txtName"],
.expense input[name="txtCost"],
.pricing-table input,
.pricing-table select {
    margin-bottom: 0;
}
#containers .no-unit input[name="txtName"] {
    margin-bottom: 16px;
}
#containers .no-unit .units {
    display: none;
}
#containers p {
    margin: 5px 5px 0 5px;
    text-align: center;
}
.add-row {
    margin-top: -16px;
    padding-left: 10px;
}
form .row.collapse > .columns.value {
    padding: 10px 10px 9px 10px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.75);
}
.pricing-table {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    -webkit-transform: translateZ(0);
}
.pricing-table span.prefix {
    padding-top: 10px;
}
article {
    max-width: 800px;
    margin-bottom: 225px;
}

dl {
    max-width: 400px;
}
@media (max-width: 767px) {
    h1 {
        font-size: 12px;
    }
}
@media (min-width: 768px) {
    section {
        float: left;
        width: 49%;
    }
}